h1{
    color: maroon;
}

.post{
    background-color: wheat;
    border: 1px solid wheat;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    width: 250px;
}

.user{
    font-style: italic;
}

.delete{
    background-color: white;
}

